html {
    height: 100%;
}

body {
    font-family: sans-serif;
    margin: 3em auto;
    max-width: 960px;
}

#footer {
    position: absolute;
    bottom: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 22px;
    margin-top: 25px;
    margin-bottom: 10px;
}

ul, ol {
    margin: 8px 0;
}

li {
    list-style: none;
}
li:before {
    padding-right: 0.5em;
    content: "\2192";
}

.whisper {
    font-size: 75%;
    color: #bbb;
    margin-top: 5em;
}

.amazon:after, .adafruit:after, .sparkfun:after {
    display: inline-block;
    content: "";
    height: 16px;
    width: 16px;
    margin-left: 3px;
}

.amazon:after {
    background-image: url(img/amazon.png);
}

.adafruit:after {
    background-image: url(img/adafruit.png);
}

.sparkfun:after {
    background-image: url(img/sparkfun.png);
}
